<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="/assets/css/main.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<title>{{ title }}</title>
	</head>
	<body>
		<div class="container outer">
			<nav>
				{% include nav.html %}
			</nav>
			<header>
				<img class="logo" src="/assets/img/pointy.jpg" alt="hairy face"/>
			</header>
			<main>
				{{ content }}
			</main>
			<footer>
				{% include footer.html %}
			</footer>	
		</div>
	</body>
</html>
