/* pygments styles for rouge highlighter */
@import url(manni.css);
.highlighter-rouge {
	margin-bottom: 1.5rem;
}

@tailwind base;

p, ul, ol { 
	@apply mb-5;
}

h1, h2, h3 {
	@apply font-serif tracking-wide;
}

h1 {
	@apply text-2xl font-bold mt-6 mb-6;
}

h2 {
	@apply text-xl font-bold mt-5 mb-5;
}

ul {
	@apply list-disc list-inside pl-6;
}

a { 
	@apply text-indigo-600;
}

a:hover { 
	@apply underline
}

a:visited {
	@apply text-purple-600;
}

/****************
*  Components  *
****************/

@tailwind components;

/***************
*  Utilities  *
***************/

@tailwind utilities;

